.new-order {
  background-color: cadetblue;
  min-height: 500px;
}
.new-order form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.new-order form input,
textarea {
  width: 40%;
  margin-bottom: 20px;
}
@media (max-width: 991.98px) {
  .new-order form input,
  textarea {
    width: 100%;
  }
}
